* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: #faf9f5; */
}

:root {
  --color-primary: #fe8282;
  --color-secondary: #eb3f5e;

  /* Customine variables themes */
  --variant-textColor: #fe8282 !important;
  --variant-outlinedColor: #fe8282 !important;
  --variant-outlinedBorder: #fe828280 !important;
  --variant-containedColor: #fff !important;
  --variant-containedBg: #fe8282 !important;
}

/* .slick-slide {
  margin-right: 15px;
} */

.slick-next {
  right: 24px;
}

.slick-next::before {
  font-size: 28px;
}

.slick-prev {
  z-index: 9;
  left: 16px;
}

.slick-prev::before {
  font-size: 28px;
}

.letter-detail-content p {
  line-height: 22px;
}

.letter-detail-content p span {
  font-size: 12px;
  font-weight: 600;
}
